  [Desktop Entry]
  Name=Toggl Linker
  Comment=Links Toggl and e.g. Redmine to book from Toggl to Redmine Issues
  Exec=toggl_linker
  Icon=${SNAP}/meta/gui/super-cool-app.png # replace name to your app name
  Terminal=false
  Type=Application
  Categories=Education; #adjust accordingly your snap category
